name: "Python"

on:
  push: {{ branches: [ "develop" ], tags: [ "*" ] }}
  pull_request: {{ branches: [ "develop" ] }}

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
    steps:
    - uses: actions/checkout@v2
    - uses: NiklasRosenstein/slap@gha/install/v1
    - uses: actions/setup-python@v2
      with: {{ python-version: "${{{{ matrix.python-version }}}}" }}
    - run: slap install --link --no-venv-check
    - run: slap test

  documentation:
    runs-on: ubuntu-latest
    needs: test
    steps:
    - uses: actions/checkout@v2
    - uses: NiklasRosenstein/slap@gha/install/v1
    - run: slap install --no-venv-check --only-extras docs
    - run: slap run --no-venv-check docs:build
    - uses: JamesIves/github-pages-deploy-action@4.1.4
      if: github.ref == 'refs/heads/develop'
      with: {{ branch: gh-pages, folder: docs/_site, ssh-key: "${{{{ secrets.DEPLOY_KEY }}}}" }}
